.container {
    text-align: center;
    margin-bottom: 20px;
}

#counter {
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    font-size: 20px;
    border-radius: 4%;
    padding: 10px 20px;
    background-color: rgb(43, 117, 93);
}

#label {
    font-size: 30px;
}

.inputcontainer {
    text-align: center;
    padding: 20px;
}

#hey {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}